<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="javascripts/chart-app.js"></script>
<body>
  <div ng-app="simple-chart" ng-controller="MainCtrl"> 
    <div id="chart_div" style="width: 900px; height: 600px;"></div>
  </div>
</body>
</html>